@import 'variable';
@import 'mixin'; 
@import 'media';

/* Body banner */



.body-banner{
    display: flex;
    @include flex-config(
        $flex-direction: column, 
        $justify-content: center
    );
}

.body-banner-img{
    @include img-bg;
}

.body-banner-icon{
    @include flex-3fix;
    color:$gray-icon;
    @include desktop {
        padding: 10px;
    }
    @include tablet{
        padding: 5px;
    }
    @include mobile{
        padding: 1px;
    }
}
.fas.fa-circle{
    color:$gray-icon;
    font-size: $icon-size;
    padding: 10px;
}

.body-product{
    display: flex;
    @include flex-config(
        $flex-direction: column
    );
    width: 80%;
    margin: auto;
}
.body-pp-product{
    @include flex-3fix;
    flex-direction: column;
}

.body-popular-textbox{
    @include flex-3fix;
    width: 100%;
    border-top: 1px dotted black;
    height: 40px;
}

  
/* Body-new-arrivals */
.body-new-arrivals{
    margin: 10px;
}
.new-arrivals-top{
    display: flex;
    @include flex-config;
    flex-direction: column;
}
.new-arrivals-text{
    font-size: $font-size;
}
.new-arrivals-links{
    // margin-top: 10px;
    @include text-link;
    
}
.links{
    @include text-link;
}
.fas.fa-arrow-right{
    font-size: $font-size
}
/* New Arrival Products + trending*/

.new-arrivals-products{
    display: flex;
    width: 100%;
    // margin-top: 15px;
}
.body-trending{
    margin-top: 40px;
}
.new-arrivals-bottom{
    display: flex;
}

.new-products-list{
    display: flex;
    @include flex-config(
        $align-items: center,
    );
    flex-wrap: wrap;
}
.new-products-link{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    transition: all 0.5s;
    &:hover{
        transform: scale(1.1);
        opacity: 1;
    }
}

.new-products-img{
    @include img-bg;
}
.new-product-text{
    position: absolute;
    bottom: 5%;
    left: 10%;
    text-decoration: none;
    font-size: $text-size;
    color: $white-color;
    
}
/* Visit My Store */
.body-visit-store{
    @include flex-3fix;
    color: black;
    background-position: center;
    width: 100%;
    height: 600px;
    flex-direction: column;
    margin-top: 40px;

}
.visit-box{
 @include flex-3fix;
    flex-direction: column;
    
}
.visit-heading{
    @include heading-text;
}
.visit-tagline{
    @include text-tagline(
        18px, 30px, 3, hidden, 315px
    );
    text-overflow: ellipsis;
    text-align: center;
}

.visit-btn{
    @include btn;
    background-color: $black-bgcolor;
    color: $white-color;
}

/* Best seller */
.product-best-seller,.best-seller-top, .best-seller-text {
    @include flex-3fix;
    flex-direction: column;
}
.best-seller-wrap{
    @include flex-3fix;
    width: 100%;
    
}
.slider{
    width: 90%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    -ms-overflow-style: none;
    &:-webkit-scrollbar{
        display: none;
    }
    scrollbar-width: none;
}
.slider::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}

.best-seller-btn{
    color: $black-color;
    @include btn;
    
}
.best-products{
    display: flex;
    width: 90%;
}
.best-seller-list{
    min-width: 30%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.best-seller-container{
    display: flex;
    flex-direction: column;
    position: relative;

}
.best-seller-img{
    @include img-bg;
}

.far.fa-heart{
    position: absolute;
    top: 5%;
    left: 5%;
    &:hover{
        transform: scale(1.4, 1.4);
    }
}
.best-seller-info{
    position: absolute;
    top: 5%;
    right: 5%;
}
.best-seller-cart{
    display: flex;
    @include flex-config(
        $align-items: center
    );
    position: absolute;
    bottom: 10%;
    right: 5%;
    padding: 10px;
    background-color: $white-bgcolor;
    color: $black-color;
    &:hover{
        background-color: $black-bgcolor;
        color: $white-color;
    }
}

.best-seller-icon{
    margin-left: 10px;
    border-left: 1px solid black;
    padding-left: 10px;
}
.fas.fa-shopping-cart{
    font-size: 15px; 
}
.best-seller-text-container{
    display: flex;
    flex-direction: column;
    font-size: $font-size;
    // padding: 10px 0px;

}
.best-seller-name{
    color: black;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 20px;
    -webkit-line-clamp: 1;
    height: 25px;
}
.best-seller-more{
    font-size: 10px;
}

.best-seller-available{
    font-size: 12px;
    margin-top: 10px;
}
.best-seller-color{
    display: none;
    margin-top: 10px;
    justify-content: space-between;
    
}
.dot-wrap{
    display: flex;
    @include flex-config(
        $justify-content: space-around, 
        $align-items: center
    )
}
.color-dot{
    display: flex;

}
.dot{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin: 0px 5px 0px 0px;
    border: 1px solid black;
}
.color-text{
    text-decoration: none;
}
.best-seller-available:hover > .best-seller-color{
    display: block;

}
/* News */
.body-news{
    display: flex;
    width: 100%;
    margin-top: 20px;
    overflow: hidden;
}

.news-left{
    display: flex;
    position: relative;
    width: 50%;
}
.news-left-img{
    @include img-bg;
}

.news-text{
    display: flex;
    position: absolute;
    flex-direction: column;
    bottom: 5%;
    left: 2%;
    color: $white-color;
}
.news-btn{
    background-color: $white-bgcolor;
    color: $black-color;
    @include btn;
}

.news-info{
    text-align: left;
}
.news-right{
    display: flex;
    @include flex-config(
        center, 1, column, center
    );
    position: relative;
}
.news-right-img{
    @include img-bg;
    position: relative;
    object-position: center;
    justify-content: center;
    align-items: center;
}
.news-right-text{
    @include flex-3fix;
    flex-direction: column;
    color: $white-color;
    position: absolute;
    top: 50%;
}
/* Explore */
.body-explore{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.service{
    display: flex;
    width: 100%;
    justify-content: center;
}
.service-list{
    margin-top: 20px;
    @include flex-3fix;
    width: 25%;
    border: 1px solid $gray-icon;
    border-right: none;
    &:last-child{
        border-right: 1px solid $gray-icon;

    }
}

.service-container{
    // margin: 50px 0px;
    @include flex-3fix;
    width: 80%;
    flex-direction: column;
}
.service-icon{
    display: flex;
}
.service-name{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.service-name-heading{
    font-size: 25px;
    
}
.serive-tagline{
    @include text-tagline (
        13px,  15px, 5, hidden, 70%
    );
    height: 75px;
    margin-top: 10px;
    @include tablet{
        height: auto;
    }
    @include mobile{
        height: auto;
    }
}
.service-link{
    margin-top: 20px;
    @include text-link;
}

.fas .fa-arrow-right{
    color: $blue-color;
    font-size: $font-size;
}

.box-success{
    display: none;
    position: absolute;
    background-color: white;
}
.box-wrapper{
    padding: 10px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive  */
.btn-icon-navbar{
    display: none;
    position: relative;
    &:hover{
        > .btn-mobile{
            display: block;
        }
    }
    @include mobile{
        display: block;
    }
    @include tablet{
        display: block;
    }
}
.btn-mobile{
    display: none;
    position: absolute;
    right: 5%;
    width: 126px;
    height: fit-content;
    background-color: $black-bgcolor;
    line-height: 30px;
}