@import 'mixin'; 
@import 'variable';


.header{
    display: flex;
    flex-direction: column;
}

.header-logo{
    display: flex;
    @include flex-config(
        $align-items: center,
        $justify-content: space-between,
    );
    width: 100%;
    height: 60px;
    background-color: $black-bgcolor;
}
.header-menu{
    display: flex;
    @include flex-config(
        $align-items:center, 
        $justify-content:center
    );
    background-color: $gray-bgcolor;
    width: 100%;
    height: 50px;
}

.header-left{
    margin-left: 20px;
}
.header-right{
    @include flex-3fix;
    margin-right: 20px;
}


.header-left {
    margin-left: 20px;
}

.header-logo-img{
    display: flex;
    justify-content: center;
    margin: auto;
}

.header-btn{   
    @include flex-3fix;
    width: 100px;
    height: 100%;
    margin: 0 10px;
}
.header-btn:hover > .header-menu-box{
    display: block;
}

.header-menu-name{
    font-size: $font-size;
    color: $white-color;
    text-decoration: none;
}

.bnt-icon{
    color: $white-color;
    font-size: $font-size;
}
