
$black-bgcolor: rgb(0,0,0);
$black-color: rgb(0,0,0);

$gray-icon: rgb(186,186,186);
$gray-bgcolor: rgb(80,80,80);


$white-color: #fff;
$white-bgcolor: #fff;

$blue-color: blue;


$font-size: 20px;
$text-size: 15px;
$icon-size: 15px;
$heading-size: 40px; 

$header-logo: 60px;
$header-menu: 50px;

$header-menu-box : $header-logo + $header-menu;


$mobile-width: 440px;
$tablet-width: 992px;
$desktop-width: 1024px;



